# Xcode
build/
*.xcodeproj
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
DerivedData/
.swiftpm/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build artifacts
archives/
output/
dependencies/
missing-frameworks/
*.xcframework
*.xcarchive
*.zip

# SPM
.build/
Packages/
Package.resolved
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
build.log

# Temporary files
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.sh